<!DOCTYPE html>
<!--
copy of index.html
-->
<html>

    <head>
        <title>Displaying all Users</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- STYLESHEETS: -->

        <!-- loads external bootstrap and w3schools stylesheets -->
        <link rel="stylesheet" href="/stylesheets/external.css">
        <!-- internal stylesheets attention for order! -->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/header.css">
        <link rel="stylesheet" href="/stylesheets/footer.css">
        <link rel="stylesheet" href="/stylesheets/content.css">
        <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">

        <!-- Linking Content Script -->
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.1/ui-bootstrap-tpls.min.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-messages.js"></script>
                   <script src="angularcontroller/xeditable.js"></script>
        <script src="angularcontroller/myApp.js" type="text/javascript"></script>
        <script src="angularcontroller/allUsersController.js" type="text/javascript"></script>
    </head>

    <body>
        <!-- Before login/registration header -->
        <div w3-include-html="LinkedContent/noAuthHeader.html"></div>
        <!-- end of header -->


        <!-- ##################### -->
        <!-- START of page content -->
        <div ng-app="myApp">
            <div class="content" ng-controller="allUsersController">
                <center class="displayAllUsers">
                    <h1> Registered Users by Name and Username </h1>
                    <h3> Use filter to search for specifc names </h3>
                    <form novalidate class="simple-form">
                        <!-- this is a label with a filter -->
                        <label>Search: <input type="text" ng-model="searchText" placeholder="Enter username or name"/>
                        </label><br/>
                    </form>
                    <table id="alluserTable">
                        <tr ng-repeat="user in users| filter:searchText">
                            <td > {{user.name}} </td>
                            <td > {{user.username}}</td>
                        </tr>
                    </table>
                </center>
            </div>
        </div>
        <!-- END of page content -->



        <!-- footer -->
        <div w3-include-html="LinkedContent/footer.html"></div>
        <!-- end of footer -->

        <!-- Script that ensures that content is actually being linked! -->
        <script>
            w3.includeHTML();
        </script>

    </body>

</html>
