<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
   <!-- loads external bootstrap and w3schools stylesheets -->
    <link rel="stylesheet" href="/stylesheets/external.css">
    <!-- internal stylesheets attention for order! -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/content.css">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">

    <!-- Linking Content Script -->
    <script src="https://www.w3schools.com/lib/w3.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.1/ui-bootstrap-tpls.min.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-messages.js"></script>
                   <script src="angularcontroller/xeditable.js"></script>

</head>

<body>
    <!-- Before login/registration header -->
    <div w3-include-html="LinkedContent/noAuthHeader.html"></div>
    <!-- end of header -->
    

    <!-- error container -->
    <div>
        <h1> {{ error.status }} </h1>
        <h2> {{ error.stack }} </h2>
    </div>


    <!-- footer -->
    <div w3-include-html="LinkedContent/footer.html"></div>
    <!-- end of footer -->

    <!-- Script that ensures that content is being linked! -->
    <script>
        w3.includeHTML();

    </script>
    <!-- Bootstrap script (redundant?) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>

</html>
