<!DOCTYPE html>
<html>

    <head>
        <title>GroupUp!NewGroup</title>
        <!-- STYLESHEETS: -->

        <!-- loads external bootstrap and w3schools stylesheets -->
        <link rel="stylesheet" href="/stylesheets/external.css">
        <!-- internal stylesheets attention for order! -->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/header.css">
        <link rel="stylesheet" href="/stylesheets/footer.css">
        <link rel="stylesheet" href="/stylesheets/content.css">
        <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">

        <!-- Linking Content Script -->
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <!-- load angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.1/ui-bootstrap-tpls.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-messages.js"></script>
        <script src="../angularcontroller/xeditable.js"></script>
        <script src="../angularcontroller/myApp.js" type="text/javascript"></script>
        <script src="../angularcontroller/groupSpaceController.js" type="text/javascript"></script>
    </head>

    <body class="groupSpacePage" ng-app="myApp">
        <!-- After login/registration header -->
        <div w3-include-html="../LinkedContent/header.html"></div>
        <!-- end of header -->
        <!-- Page Content -->
        <div ng-controller="groupSpaceController">



            <center ><h1 >Welcome to Group: {{group.groupname}}</h1></center>
            <center><h4>Lecture: {{grouplecture}}</h4></center>
            <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
                <!-- The Grid -->
                <div class="w3-row">

                    <!-- Left Column -->
                    <div id="leftcolumn" class="w3-col m3">





                        <!-- Profile -->
                        <div class="w3-card-2 w3-round w3-white">
                            <div class="w3-container">
                                <p> This group has {{ group.maxMembers}} members as limit. </p>
                            </div>
                        </div>
                        <br>
                        <div class="w3-card-2 w3-round w3-white w3-hide-small" >
                            <div class="w3-container">
                                <div>Group Description: {{ group.groupDescr}} </div>
                                <!-- edit button right upper corner -->
                                 </div>
                        </div>
                        <br>
                        <div class="w3-card-2 w3-round w3-white w3-hide-small">
                            <div class="w3-container w3-center">
                                <h4 class="w3-center">Group Members</h4>
                                <div ng-repeat="member in group.members">
                                    <p>{{member}}</p>
                                </div>
                                <button class="btn btn-default w3-center"  id="addMember" type="button">
                                    <strong>Invite Member</strong>
                                </button>
                            </div>


                            <br>


                        </div>
                        <br>
                        <div class="w3-card-2 w3-round w3-white w3-hide-small">
                            <div class="w3-container">
                                      <div class="w3-container w3-center">
                                    <a href = "../groupedit/{{group._id}}">
                                        <strong>Edit Group</strong>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Page Container -->
                    </div>
                    <!-- Middle Column -->
                    <div id="middlecolumn" class="w3-col m7">
                        <!-- container middle 1 -->
                        <div class="w3-container w3-card-2 w3-white w3-round w3-margin-left w3-margin-right w3-margin-bottom" ng-controller="groupSpaceController" ng-repeat="chat in chats">
                            <form class="w3-container">
                                <h4>Group Feed</h4>
                                <hr>
                                <p ng-repeat="content in chat.content"><button  class="skillTag btn">{{content.authorName}}: {{content.body}}</button></p>
                                <hr class="w3-clear">
                                <input type="text" ng-model="inputMessage" placeholder="type a message..." class="w3-input w3-border w3-margin-bottom">
                            </form>
                            <!-- muss noch implementiert werden-->
                            <button class="btn btn-default"  id="sendMessage" type="button" ng-click="sendMessage(inputMessage)">
                                <strong>Send</strong>
                            </button>

                        </div>
                    </div>
                    <!-- footer -->
                    <div w3-include-html="../LinkedContent/footer.html"></div>
                    <!-- end of footer -->

                    <!-- Script that ensures that content is actually being linked! -->
                    <script>
                        w3.includeHTML();
                    </script>

                </div>
            </div>
        </div>
    </body>


</html>
