<!DOCTYPE html>
<html>
    <head>
        <title>Group Up!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- STYLESHEETS: -->

        <!-- loads external bootstrap and w3schools stylesheets -->
        <link rel="stylesheet" href="/stylesheets/external.css">
        <!-- internal stylesheets attention for order! -->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/header.css">
        <link rel="stylesheet" href="/stylesheets/footer.css">
        <link rel="stylesheet" href="/stylesheets/content.css">
        <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">

        <!-- Linking Content Script -->
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.1/ui-bootstrap-tpls.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-messages.js"></script>
        <script src="angularcontroller/xeditable.js"></script>
        <script src="angularcontroller/myApp.js" type="text/javascript"></script>
        <script src="angularcontroller/lecturecontroller.js" type="text/javascript"></script>
    </head>
    <body>
        <!-- Before login/registration header -->
        <div w3-include-html="LinkedContent/header.html"></div>
        <!-- end of header -->
        <!-- START of page content -->
        <div class="w3-row">
            <div ng-app="myApp">
                <div class="content" ng-controller="allLecturesController">
                    <div class="w3-col w3-container m6 l6">
                        <center>
                            <h1> {{ testString}} </h1>
                            <div ng-repeat="lect in lectures">
                                <div class="w3-container w3-card-2 w3-white w3-round w3-margin-left w3-margin-right w3-margin-bottom w3-padding" >
                                    <p> Vorlesung: {{ lect.lectureName}} </p>
                                    <p> Universität: {{ lect.uniName}} </p>
                                    <!-- <p> {{ lect }} </p> -->
                                    <button class="btn btn-default" ng-click="joinLecture(lect)"> Join the lecture! </button>
                                </div>
                            </div>
                        </center>
                    </div>
                    <div class="w3-col w3-container m6 l6">
                        <center>
                            <h1> {{ mylectureString}} </h1>
                            <div ng-repeat="mylect in mylectures">
                                <div class="w3-container w3-card-2 w3-white w3-round w3-margin-left w3-margin-right w3-margin-bottom w3-padding" >
                                    <p> Vorlesung: {{ mylect.lectureName}} </p>
                                    <p> Universität: {{ mylect.uniName}} </p>
                                    <p> {{ lect}} </p> 
                                    <button id="leaveLBtn" class="btn btn-default" ng-click="leaveLecture(mylect)">Leave this Lecture</button>
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <!-- END of page content -->



        <!-- footer -->
        <div w3-include-html="LinkedContent/footer.html"></div>
        <!-- end of footer -->

        <!-- Script that ensures that content is actually being linked! -->
        <script>
            w3.includeHTML();
        </script>
        <!-- Bootstrap script (redundant?) -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    </body>

</html>