<!DOCTYPE html>
<html>

    <head>
        <title>GroupUp!MyGroups</title>
        <!-- STYLESHEETS: -->

        <!-- loads external bootstrap and w3schools stylesheets -->
        <link rel="stylesheet" href="/stylesheets/external.css">
        <!-- internal stylesheets attention for order! -->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/header.css">
        <link rel="stylesheet" href="/stylesheets/footer.css">
        <link rel="stylesheet" href="/stylesheets/content.css">
        <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">

        <!-- Linking Content Script -->
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.1/ui-bootstrap-tpls.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-messages.js"></script>
        <script src="angularcontroller/xeditable.js"></script>

        <!-- war ein Versuch für maxMembers dropdown, aber geht nicht -->
        <!-- <script type="text/javascript">
         $(function(){
         var $select[id^="converted_dropdown_"] = $(".1-100");
         for (i=1;i<=100;i++){$select.append($('<option></option>').val(i).html(i))}});
         </script> -->

        <!-- load angular -->
        <script src="angularcontroller/myApp.js" type="text/javascript"></script>
        <script src="angularcontroller/myGroupsController.js" type="text/javascript"></script>

    </head>

    <body class="myGroupsPage" ng-app="myApp">
        <!-- After login/registration header -->
        <div w3-include-html="LinkedContent/header.html"></div>
        <!-- end of header -->


        <!-- Page content-->
        <div ng-controller="myGroupsController">

            <center>
                <h1>Outstanding invitations</h1>
            </center>
            <br></br>

            <!-- GroupList -->
            <div class="tagcollection">
                <div class="w3-container">

                    <!-- <div class="w3-col w3-container m6 l6">
                        <center>
                            <h1>  All Groups </h1>
                            <div ng-repeat="group in allgroups">
                                <div class="w3-container w3-card-2 w3-white w3-round w3-margin-left w3-margin-right w3-margin-bottom" >

                                    <a href='/groups/{{ group._id}}'>
                                        <p>{{ group.groupname}} | Max Members: {{ group.maxMembers}} </p>
                                        <p>{{ group._id}} </p>
                                    </a>
                                    <button id="sendRequestButton" type="submit" ng-click="sendRequest()">
                                        <strong>Send Join Request</strong>
                                    </button>
                                </div>
                            </div>
                        </center>
                    </div>-->
                    <div class="w3-col w3-container m3 l3">
                        <center>
                            <h1> My Groups </h1>
                            <div ng-repeat="mygroup in mygroups">
                                <div class="w3-container w3-card-2 w3-white w3-round w3-margin-left w3-margin-right w3-margin-bottom" >

                                    <a href='/groups/{{mygroup._id}}' >
                                        <p>{{ mygroup.groupname}} | Max Members: {{ mygroup.maxMembers}} </p>
                                        <p>{{ mygroup._id}} </p>
                                    </a>

                                </div>
                            </div>
                        </center>
                    </div>                        <!--<a href="groupspace.html">{{ savedGroupName}} </a> -->
                    <div class="w3-col w3-container m2 l2">
                        <center>
                            <h1>Your Invitations</h1>
                            <div ng-repeat="invite in invites">
                                <div class="w3-container w3-card-2 w3-white w3-round w3-margin-left w3-margin-right w3-margin-bottom">
                                    <button class="btn btn-default" id="editButton" type="button" ng-click="joinGroupFunction(invite)" >
                                        <strong>Accept Invite</strong>
                                    </button>
                                </div>
                            </div>
                        </center>
                    </div>

                    <div class="w3-col w3-container m3 l3">
                        <center>
                            <h1>Group</h1>
                            <div ng-repeat="invitegroup in inviteGroups track by $index">
                                <div class="w3-container w3-card-2 w3-white w3-round w3-margin-left w3-margin-right w3-margin-bottom">
                                    <p>Name: {{invitegroup.groupname}}</p>
                                </div>
                            </div>
                        </center>
                    </div>

                    <div class="w3-col w3-container m3 l3">
                        <center>
                            <h1>Lecture</h1>
                            <div ng-repeat="invitelect in inviteLectures track by $index">
                                <div class="w3-container w3-card-2 w3-white w3-round w3-margin-left w3-margin-right w3-margin-bottom">
                                    <p>{{invitelect.lectureName}}</p>
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
            <!-- END of page content -->
        </div>


        <!-- footer -->
        <div w3-include-html="LinkedContent/footer.html"></div>
        <!-- end of footer -->

        <!-- Script that ensures that content is actually being linked! -->
        <script>
            w3.includeHTML();
        </script>

    </body>

</html>