<!DOCTYPE html>


<html>

    <head>
        <title>GroupUpProfilePage</title>

        <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">

        <!-- loads external bootstrap and w3schools stylesheets -->
        <link rel="stylesheet" href="/stylesheets/external.css">
        <!-- internal stylesheets attention for order! -->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/footer.css">
        <link rel="stylesheet" href="/stylesheets/header.css">
        <link rel="stylesheet" href="/stylesheets/content.css">


        <!-- Linking Content Script & external JS scripts -->
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.1/ui-bootstrap-tpls.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-messages.js"></script>
        <script src="angularcontroller/xeditable.js"></script>

        <script src="angularcontroller/myApp.js" type="text/javascript"></script>


        <script src="angularcontroller/rolecontroller.js" type="text/javascript"></script>
        <script src="angularcontroller/skillcontroller.js" type="text/javascript"></script>
        <script src="angularcontroller/interestcontroller.js" type="text/javascript"></script>
        <script src="angularcontroller/usercontroller.js" type="text/javascript"></script>
    </head>

    <body class="profilePage" data-ng-app="myApp" ng-app="myApp">
        <!-- after login/registr header -->
        <div w3-include-html="LinkedContent/header.html"></div>
        <!-- end of header -->
        <!-- body -->

        <!-- Page Container -->
        <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
            <!-- The Grid -->
            <div class="w3-row">

                <div ng-controller="usercontroller">
                    <!-- Left Column -->
                    <div id="leftcolumn" class="w3-col m3">


                        <!-- Profile -->
                        <div class="w3-card-2 w3-round w3-white">
                            <div class="w3-container">
                                <div>
                                    <h4 class="w3-center">{{savedUserName}} </h4>
                                    <p class="w3-center"><img src="images/avatar_plain.png" class="w3-round" style="height:106px;width:106px" alt="Avatar"></p>
                                    <hr>
                                    <p><i class="fa fa-address-card-o fa-fw w3-margin-right w3-text-theme"></i>{{NameBox}}</p>
                                    <p><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-text-theme"></i>{{savedStudyProgramm}}</p>
                                    <p><i class="fa fa-university fa-fw w3-margin-right w3-text-theme"></i>{{savedUniID}} </p>

                                </div>

                                <hr>
                                <div class="w3-container w3-center">
                                    <button class="btn btn-default" id="editButton" type="button" onclick="window.location = 'myprofile_edit.html';">
                                        <strong>Edit Profile</strong>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- Groups -->
                        <div class="w3-card-2 w3-round w3-white w3-hide-small">
                            <div class="w3-container"><br>
                                <p class="w3-center"><strong>Your Groups</strong></p>
                                <div ng-repeat="mygroup in mygroups">
                                    <a href='/groups/{{mygroup._id}}'>{{mygroup.groupname}}</a>
                                </div>



                                <div class="w3-container w3-center">
                                    <button class="btn btn-default" id="seeRequests" type="button" onclick="window.location = 'mygroups.html';">
                                        <strong>See Group Invitations</strong>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Lectures -->
                        <br>
                        <div class="w3-card-2 w3-round w3-white w3-hide-small">
                            <div class="w3-container"><br>
                                <p class="w3-center"><strong>Your Lectures</strong></p>

                                <div ng-repeat="lect in lectures">
                                    <button class="skillTag">{{ lect.lectureName}}</button>
                                </div>
                            </div><br>
                        </div>


                        <!-- End Left Column -->
                    </div>

                    <!-- Middle Column -->

                    <div id="middlecolumn" class="w3-col m7">
                        <!-- container middle 1 -->
                        <div ng-controller="usercontroller">
                            <div class="w3-container w3-card-2 w3-white w3-round w3-margin-left w3-margin-right">
                                <h4>Personal Description</h4>
                                <div>
                                    {{saveduserDesc}}
                                </div>

                            </div>
                        </div>

                    </div></div>
                <!-- container middle 2 -->
                <div id="middlecolumn" class="w3-col m7">

                    <!-- SKILL LIST -->
                    <div class="tagcollection">
                        <div ng-controller="skilladder">
                            <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
                                <div class="w3-container">
                                    <p>Skills</p>
                                    <div ng-repeat="skill in skills">
                                        <button id="tagsBtn" class="skillTag btn">{{ skill.text}}</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ROLE LIST -->
                    <div class="tagcollection">
                        <div ng-controller="roleadder">
                            <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
                                <div class="w3-container">
                                    <p>Roles</p>
                                    <div ng-repeat="role in roles">
                                        <button id="tagsBtn" class="skillTag btn">{{ role.text}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- INTEREST LIST -->
                    <div class="tagcollection">
                        <div ng-controller="interestadder">
                            <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
                                <div class="w3-container">
                                    <p>Preferences</p>
                                    <div ng-repeat="interest in interests">
                                        <button id="tagsBtn" class="skillTag btn">{{ interest.text}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- End Middle Column -->
                </div>

            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->





        <!-- footer -->
        <div w3-include-html="LinkedContent/footer.html"></div>
        <!-- end of footer -->
        <!-- Script that ensures that content is being linked! -->
        <script>
            w3.includeHTML();
        </script>

    </body>

</html>