<!DOCTYPE html>


<html>

<head>
    <title>GroupUpProfilePage</title>

    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">

    <!-- loads external bootstrap and w3schools stylesheets -->
    <link rel="stylesheet" href="/stylesheets/external.css">
    <!-- internal stylesheets attention for order! -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/content.css">

    <!-- Linking Content Script & external JS scripts-->
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-messages.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.1/ui-bootstrap-tpls.min.js"></script>
    <script src="angularcontroller/xeditable.js"></script>

    <script src="angularcontroller/myApp.js" type="text/javascript"></script>

    <script src="angularcontroller/skillcontroller.js" type="text/javascript"></script>
    <script src="angularcontroller/interestcontroller.js" type="text/javascript"></script>
    <script src="angularcontroller/rolecontroller.js" type="text/javascript"></script>
    <script src="angularcontroller/usercontroller.js" type="text/javascript"></script>
    <script src="angularcontroller/formValidation.js" type="text/javascript"></script>

</head>

<body class="profilePage" ng-app="myApp">
    <!-- after login/registr header -->
    <div w3-include-html="LinkedContent/header.html"></div>
    <!-- end of header -->

    <!-- body -->

    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">

        <!-- The Grid -->
        <div class="w3-row">
            <div ng-controller="usercontroller">
                <!-- Left Column -->
                <div id="leftcolumn" class="w3-col m3">
                    <!-- Profile container -->
                    <div class="w3-card-2 w3-round w3-white">
                        <div class="w3-container">
                                <div id="profilePic">
                                    <h4 class="w3-center"> {{savedUserName}} </h4>
                                    <p class="w3-center"><img src="images/avatar_plain.png" class="w3-round" style="height:106px;width:106px" alt="Avatar"></p>
                                    <hr>
                                </div>
                                <div class="input-group w3-margin-bottom">
                                    <span class="input-group-addon"><i class="fa fa-address-card-o fa-fw"></i></span>
                                    <input class="form-control" placeholder="Name" ng-model="NameBox" required>
                                </div>

                                <div class="input-group w3-margin-bottom">
                                    <span class="input-group-addon"><i class="fa fa-graduation-cap fa-fw"></i></span>
                                    <select id="testme" class="form-control" ng-model="selected_program" ng-options="sp as sp for sp in studyprograms" ng-change="changedprogram(selected_program.value)" required>
                                            <option value="" disabled selected>{{savedStudyProgramm}}</option>
                                        </select>
                                </div>

                                <div class="input-group w3-margin-bottom">
                                    <span class="input-group-addon"><i class="fa fa-university fa-fw"></i></span>
                                    <p class="form-control">{{savedUniID}}</p>
                                </div>
                                <hr>
                                <div class="w3-container w3-center">
                                    <button class="btn btn-default" id="saveButton" onclick="window.location = 'myprofile_plain.html';" data-ng-click="updateUser()">
                                <strong>Save Profile</strong>
                            </button>
                                </div>
                        </div> </div>
                        <br>



                        <!-- End Left Column -->

                    </div>
                
                <!-- Middle Column -->
                <div id="middlecolumn" class="w3-col m7">

                    <!-- container middle 1 Personal Description -->
                    
                        <div id="descContainer" class="w3-container w3-card-2 w3-white w3-round w3-margin-left w3-margin-right">
                            <form editable-form name="textBtnForm" action="#">
                                <span id="descField" editable-text="formDataDescriptionX" ng-model="formDataDescriptionX" class="ng-scope ng-binding editable">
                                    {{ formDataDescriptionX || 'description' }}
                            </span>
                                <button type="button" class="btn btn-default" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible">
                            edit
                            </button>
                                <span ng-show="textBtnForm.$visible">
                             <button type="submit" class="btn btn-primary" ng-disabled="textBtnForm.$waiting">
                              Save
                              </button>
                             <button type="button" class="btn btn-default" ng-disabled="textBtnForm.$waiting" ng-click="textBtnForm.$cancel()">
                              Cancel
                            </button>
                            </span>
                            </form>
                        </div>
                    </div></div>
                    <!-- END OF USERCONTROLLER -->

                <div id="middlecolumn" class="w3-col m7">

                    <!-- SKILL LIST -->
                    <form>
                        <div ng-controller="skilladder">
                            <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
                                <div class="w3-container">
                                    <p>Skills</p>
                                    <input type="text" class="w3-margin-right" placeholder="skills" ng-model="formDataSkill.text"  uib-typeahead="skill.text for skill in allSkills | filter:$viewValue | limitTo:8" required>
                                    <button type="submit" class="btn btn-default w3-margin-right" ng-click="createSkill()">add skill</button>
                                    <div ng-repeat="skill in skills">
                                        <button id="tagsBtn" class="skillTag btn" ng-click="deleteSkill(skill._id)">{{ skill.text }} [x]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- Role LIST -->
                    <div ng-controller="roleadder">
                        <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
                            <div class="w3-container">
                                <p>Roles</p>
                                <input type="text" class="w3-margin-right" placeholder="roles" ng-model="formDataRole.text" uib-typeahead="role.text for role in roles | filter:$viewValue | limitTo:8" required>
                                <button type="submit" class="btn btn-default w3-margin-right" ng-click="createRole()">add role</button>
                                <div ng-repeat="role in roles">
                                    <button id="tagsBtn" class="skillTag btn" ng-click="deleteRole(role._id)">{{ role.text}} [x]</button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- INterest LIST -->
                    <div ng-controller="interestadder">
                        <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
                            <div class="w3-container">
                                <p>Preferences</p>
                                <input type="text" class="w3-margin-right" placeholder="preferences" ng-model="formDataInterest.text" uib-typeahead="interest.text for interest in interests | filter:$viewValue | limitTo:8" required>
                                <button type="submit" class="btn btn-default w3-margin-right" ng-click="createinterest()">add preference</button>
                                <div ng-repeat="interest in interests">
                                    <button id="tagsBtn" class="skillTag btn" ng-click="deleteinterest(interest._id)">{{ interest.text}} [x]</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- End Middle Column -->
                </div>



            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>
    <br>






    <!-- footer -->
    <div w3-include-html="LinkedContent/footer.html"></div>
    <!-- end of footer -->

    <!-- Script that ensures that content is being linked! -->
    <script>
        w3.includeHTML();
    </script>
    <!-- Bootstrap script (redundant?) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>

</html>