<!DOCTYPE html>
<html>
<head  >
    <title>GroupUp!NewGroup</title>
    <!-- STYLESHEETS: -->

    <!-- loads external bootstrap and w3schools stylesheets -->
    <link rel="stylesheet" href="/stylesheets/external.css">
    <!-- internal stylesheets attention for order! -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/content.css">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">

    <!-- Linking Content Script -->
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.1/ui-bootstrap-tpls.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-messages.js"></script>
    <script src="angularcontroller/xeditable.js"></script>

    <!-- Angular Dependencies -->
    <script src="angularcontroller/myApp.js" type="text/javascript"></script>
    <script src="angularcontroller/groupController.js" type="text/javascript"></script>
    <!-- <script src="angularcontroller/allLecturesController.js" type="text/javascript"></script> -->

</head>

<body class="createGroupPage" ng-app="myApp">
    <!-- After login/registration header -->
    <!-- Auth header -->
    <div w3-include-html="LinkedContent/header.html"></div>
    <!-- end of header -->
    <!-- body -->
    <!-- page container -->
    <!--<div ng-app="myApp" ng-controller="groupController">-->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">

        <div class="w3-row">
           <div ng-controller="groupController">
               
                <div id="leftcolumn" class="w3-col m12">
                        <div class="w3-card-2 w3-round w3-white">
                            <div class="w3-container">
                                <span class="w3-right w3-opacity">
                                    <button class="btn btn-default" ng-click="createGroup()">Create Group </button>
                                </span>
                    <h1>Create a new group!</h1>
                    
                    <p id="uniDispl" class="form-control">University: {{currentuser.university}}</p>
                    <p><strong>Select a lecture</strong></p>
                    <div class="input-group w3-margin-bottom">
                        <span class="input-group-addon"><i class="fa fa-book fa-fw"></i> </span>
                            <select id="lectureSelect" class="form-control" ng-model="selectedlecture" ng-options="lecture.lectureName for lecture in lectures" ng-change="changedLecture(selectedlecture)"></select>
                    </div>
                    <div class="input-group w3-margin-bottom">
                        <span class="input-group-addon"><i class="fa fa-users fa-fw"></i></span>
                        <input id="groupName" class="form-control" placeholder="Groupname" ng-model="selectedGroupName" ng-change="changedGroupName(selectedGroupName)">

                    </div>
                    <div class="input-group w3-margin-bottom">
                        <p><strong>Maximal number of group members?</strong></p>
                        <input class="form-control" type="number" required min="1" ng-model="selectedMaxMembers" ng-change="changedMaxMembers(selectedMaxMembers)" placeholder="Allowed # of members">

                    </div>

                </div>
            </div>


        </div>
            </div>
   
    <!-- END of page content -->


    <!-- footer -->
    <div w3-include-html="LinkedContent/footer.html"></div>
    <!-- end of footer -->

    <!-- Script that ensures that content is actually being linked! -->
    <script>
        w3.includeHTML();
    </script>

            </div>
        </div>
        </body>

</html>
