<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

    <head>

        <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">

        <!-- loads external bootstrap and w3schools stylesheets -->
        <link rel="stylesheet" href="/stylesheets/external.css">
        <!-- internal stylesheets attention for order! -->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/footer.css">
        <link rel="stylesheet" href="/stylesheets/header.css">
        <link rel="stylesheet" href="/stylesheets/content.css">

        <!-- Linking Content Script -->
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-messages.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.1/ui-bootstrap-tpls.min.js"></script>
        <script src="angularcontroller/xeditable.js"></script>
        <script src="angularcontroller/myApp.js" type="text/javascript"></script>
        <script src="angularcontroller/formValidation.js" type="text/javascript"></script>
    </head>

    <body ng-app="myApp" >
        <!-- Before login/registration header -->
        <div w3-include-html="LinkedContent/noAuthHeader.html"></div>
        <!-- end of header -->

        <!-- register container -->
        <div class="container">
            <div>
                <form name="registerForm" role="form" action="/register" method="post" onsubmit="return validateForm()" style="max-width: 300px;" class="form-signin">
                    <h2 class="form-signin-heading">Sign Up here</h2>



                    <div ng-controller="validationCtrl"> 

                        <select name="university" ng-model="uni" placeholder="select university" ng-options="uni as uni for uni in universitynames" ng-change="changeduni(uni)" class="form-control" required>
                            <option value="" disabled selected>{{uni}}</option>
                        </select>
                        <input type="text" name="name" placeholder="Your Name" class="form-control" required/>
                        <!-- <input type="text" name="university"  class="form-control" /> -->
                        <input type="text" name="username" placeholder="Your Username" class="form-control" required minlength="5" />
                        <input type="password" name="password" placeholder="Your Password" class="form-control" required minlength="5" />
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
                    </div>



                </form>
            </div>
        </div>

        <!-- footer -->
        <div w3-include-html="LinkedContent/footer.html"></div>
        <!-- end of footer -->

        <!-- Script that ensures that content is being linked! -->
        <script>
            w3.includeHTML();
        </script>

    </body>

</html>