<!DOCTYPE html>
<html>

    <head>
        <title>Group Up!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- STYLESHEETS: -->

        <!-- loads external bootstrap and w3schools stylesheets -->
        <link rel="stylesheet" href="/stylesheets/external.css">
        <!-- internal stylesheets attention for order! -->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/header.css">
        <link rel="stylesheet" href="/stylesheets/footer.css">
        <link rel="stylesheet" href="/stylesheets/content.css">
        <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">

        <!-- Linking Content Script -->
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.1/ui-bootstrap-tpls.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-messages.js"></script>
        <script src="angularcontroller/xeditable.js"></script>

        <script src="angularcontroller/myApp.js" type="text/javascript"></script>
        <!-- Search Controller -->
        <script src="angularcontroller/searchControllerCentral.js" type="text/javascript"></script>
    </head>

    <body>
        <!-- Before login/registration header -->
        <div w3-include-html="LinkedContent/header.html"></div>
        <!-- end of header -->


        <!-- ##################### -->
        <!-- START of page content -->
        <div class="content" ng-app="myApp" ng-controller="searchControllerCentral">

            <div class="tagcollection">
                <div class="w3-container">
                    <center>
                        <h1> Search for a user - by skills, roles or preferences </h1>
                    </center>

                    <div id="userSearchCont" class="w3-container w3-card-2 w3-white w3-round w3-margin w3-padding">
                        <p>Select one of your lectures to look for possible group members!</p>
                        <p id="uSearchUniDispl" class="form-control"> University: {{ userUniName}}</p>
                        <div class="input-group w3-margin-bottom">
                            <span class="input-group-addon"><i class="fa fa-book fa-fw"></i> </span>
                            <select id="lectSel" class="form-control" ng-model="selectedlectureObj" ng-options="lecture.lectureName for lecture in lectures" ng-change="changedLecture(selectedlectureObj)"></select>
                        </div>
                        
                        <div ng-show="VisibleCont5">
                            <p>Select a group to invite users.</p>
                        </div>
                         
                        <div class="input-group w3-margin-bottom" ng-show="VisibleCont4">
                            <span class="input-group-addon"><i class="fa fa-group fa-fw"></i> </span>
                            <select id="groupSel" class="form-control" ng-model="selecteGroupObj" ng-options="group.groupname for group in mygroups"  ng-change="changedGroup(selecteGroupObj)"></select>
                        </div>
                        <p>{{ registeredUsers}}</p>
                        <div ng-repeat="lectuser in lectureUsers track by $index" ng-show="nevershow">
                            <p>{{lectuser}}</p>  
                        </div>

                        <div ng-show="VisibleCont0">
                            <button class="btn btn-default" id="skillButton" type="submit" class="w3-margin-right" ng-click="showallUsers()">Show all users of this lecture.</button>   
                        </div>
                    </div>


                    <div class="w3-col w3-container m4 l4" ng-show="VisibleCont1">
                        <div class="w3-container w3-card-2 w3-white w3-round w3-margin w3-padding"><br>
                            <div class="w3-container">
                                <p> Search for users by skills </p>
                                <input id="searchInput" type="text" class="w3-margin-right" placeholder="Search by a skill" ng-model="formSkillSearch.text">
                                <button class="btn btn-default" id="skillButton" type="submit" class="w3-margin-right" ng-click="searchforONESkill()">Search</button>   
                            </div>
                        </div>
                    </div>

                    <div class="w3-col w3-container m4 l4" ng-show="VisibleCont2">
                        <div class="w3-container w3-card-2 w3-white w3-round w3-margin w3-padding"><br>
                            <div class="w3-container">
                                <p> Search for users by roles </p>
                                <input id="searchInput" type="text" class="w3-margin-right" placeholder="Search by a role" ng-model="formRoleSearch.text">
                                <button class="btn btn-default" id="roleButton" type="submit" class="w3-margin-right" ng-click="searchforONERole()">Search</button>    
                            </div>
                        </div>
                    </div>


                    <div class="w3-col w3-container m4 l4" ng-show="VisibleCont3">
                        <div class="w3-container w3-card-2 w3-white w3-round w3-margin w3-padding"><br>
                            <div class="w3-container">
                                <p> Search for users by preferences </p>
                                <input  id="searchInput" type="text" class="w3-margin-right" placeholder="Search by a preference" ng-model="formInterestSearch.text">
                                <button class="btn btn-default" id="interestButton" type="submit" class="w3-margin-right" ng-click="searchforONEInterest()">Search</button>    
                            </div>
                        </div>
                    </div>
                </div>

                <div>

                    <div class="w3-container" id="SearchResultContainer" > 
                        <div ng-show="VisibleCont6">
                            <p> Users are filtered for the {{filterobjective}} </p>  
                            <p> Number of users found: {{resultString}} </p>
                        </div>
                        
                        
                        <div ng-repeat="element in usersFound">
                            <div class="w3-container w3-card-2 w3-white w3-round w3-margin">
                                
                                <p class="w3-left"><img src="images/avatar_plain.png" class="w3-round" style="height:30px;width:30px" alt="Avatar"></p>
                               <!-- <ul>
                                    <li class="md-list-item-text">                                    
                                        <!-- <p>{{element.tempStr}}</p> -->
                                <a href='/{{element._id}}' >
                                            <p> Username: {{element.username}}</p> 
                                </a> 
                                    <!--</li>
                                </ul>-->
                                <button ng-show="inviteButtonShow" id="skillButton" type="submit" class="w3-margin-right" ng-click="invitetoGroup(element)">Invite to group</button>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
        <!-- END of page content -->



        <!-- footer -->
        <div w3-include-html="LinkedContent/footer.html"></div>
        <!-- end of footer -->

        <!-- Script that ensures that content is actually being linked! -->
        <script>
            w3.includeHTML();
        </script>

    </body>

</html>