/* For example explanation see at the bottom of this file. */



/* Overall Content setting */
.content {
    height: 100%;
    margin-bottom: 90px; /* For bottom-sticking bottom */
}
#interestButton,
#roleButton,
#skillButton,
#searchInput {
 margin-bottom: 5px;
}


#alluserTable td{
    padding-right: 15px;
}
.tagcollection label {
    background: #15BDB1;
}
#adminpage { 
    width: 500px;
    margin: auto;
    margin-top: 20px;
}
#adminTDescription {
    display: inline-block;
}
#adminTButton {
    float: right;
    margin: 4px!important;
}
#lectContainer{
    padding-left:10px;
    padding-right:0px;
}

.w3-container#userSearchCont {
    
}

.form-control#uniDispl,
.form-control#groupSel,
.form-control#lectSel,
.form-control#uSearchUniDispl,
.form-control#lectureSelect,
.form-control#groupName {
    width: 250px;
}

#myDIV button {
    margin-bottom: 10px;
    margin-right: 5px;
}

/* landing page design */
.greetings img {
    max-width: 30%;
    display: block;

}
.greetings h4 {
    color: black;
    margin-top: 50px;
    font-family: Arial
}
/* End of landing page design */

.w3-row {
    margin-bottom: 120px;

}
#leftcolumn .w3-container,
#rightcolumn .w3-container,
#middlecolumn .w3-container {
    padding-bottom: 10px;
    padding-top: 10px;
}

#SearchResultContainer {
    margin-bottom: 120px;
}

.leaveLecture {
    background-color: #FF0000;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px;
    cursor: pointer;
}
/* also valid for roles and interest */
.skillTag {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px;
    cursor: pointer;

}
#tagsBtn {
    float: left;
    display: inline-block;
    vertical-align: middle;
}

/*###  SIGN-IN & INPUT BOXES  ###*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

input[type=text] {
   /* border: 2px solid black; */

}

input[type=text] {
 /*   width: 100%;*/
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: inherit;
}
#sendMessage {
    margin-left: 15px;
    margin-bottom: 20;
}

#editButton:hover,
#saveButton:hover,
#leaveLBtn,
input[type=text]:hover {
    border: 1px solid #15BDB1;
}

/*### END OF  SIGN-IN & INPUT BOXES  ###*/



/* 
<class = "example"> is used in TEMPLATE_HTML. Nowhere else. 

<.example> sets css design for the entire class example:
<div class="example"></div>)

<.example p> sets design for the "p" objects in the class example:
<div class="example">  <p>HelloWorld</p> >/div>)
*/

.example {
    width:20%;
    margin: 0 auto;
}
.example p {
    padding-left: 40px;
}

/* ############## */
