
/*    ALL FOOTER RELATED:       */

.footer-container {
    background: #666666;
    position: absolute;
    border-top: 20px solid #15BDB1;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    height: 80px;
    width: 100%;
    overflow: hidden;
}

.foot {
    padding: 20px 0;  
    text-align: center;    
}

.foot a {
    margin-bottom: 10px;
    padding-right: 7px;
    padding-left: 7px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.foot a:hover {
    color: #15BDB1;
    text-decoration: none;
}

