

.title {
    color:white;
    text-align: center;
    padding:0px;
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
}

.title img {
    margin-right: 10px;
}

.title:hover{
    color: #15BDB1;
    text-decoration: none;
}

.navbar-default .navbar-nav li a{
    color: white;
    text-shadow: none;
    padding: 20px;
    font-weight: bold;
}
.navbar-default .navbar-nav li a:hover{
    color: #15BDB1;
}

.container-fluid {
    background-color: #666666;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-header {
    padding: 3px;
    
}
.container-fluid {
    height:80px;
    border-bottom: 20px solid #15BDB1;
    padding-right:100px;
    padding-left: 100px;
}

.navbar .navbar-default .container-fluid .navbar-header .title {
    color:black;
}
