<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <!--
        #####################################################################
        ####################  DISLCAIMER ####################################
        #####################################################################
        DO NOT CHANGE ANYTHING IN THIS TEMPLATE!                            #
        IF YOU CREATE A NEW HTML WEBPAGE, COPY THIS PAGE (no refactor!)     #
        [and delete this disclaimer].                                       #
        #####################################################################
        #####################################################################
        -->

        <html>
        <head>
            <title>Group Up!</title>
            <!-- STYLESHEETS: -->

            <link rel="stylesheet" href="../stylesheets/style.css">
            <link rel="stylesheet" href="../stylesheets/footer.css">
            <link rel="stylesheet" href="../stylesheets/header.css">
            <link rel="stylesheet" href="../stylesheets/content.css">

            <!-- Linking Content Script -->
            <script src="https://www.w3schools.com/lib/w3.js"></script>
                    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>

        </head>

<body>
<!-- header -->
<div w3-include-html="LinkedContent/header.html"></div>
<!-- end of header -->



<!-- content can also be linked, but should be written as its code does not repeat itself! -->
<!-- <div w3-include-html="ContentBeingLinked.html"></div> -->
<div class="content">
    <div class="example" data-ng-controller="editController as editCtrl">
        <p>&copy</p>
        <ul>
            <li>{{userCtrl.user.username}}</li>
            <li>{userCtrl.user.name}</li>
            <li>userCtrl.user.surname</li>
        </ul>
    </div>
</div>


<!-- footer -->
<div w3-include-html="LinkedContent/footer.html"></div>
<!-- end of footer -->

<!-- Script that ensures that content is being linked! -->
<script>
    w3.includeHTML();
</script>

</body>
</html></title>
</head>
<body>

</body>
</html>